/* body {
  color: #212121;
} */

a {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: auto 20px;
  cursor: pointer;
}

.user-banner {
  background-color: lightgrey;
  color: grey;
  font-size: 12px;
  margin: 0;
  padding: 5px 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.listings-container {
  margin-top: 50px;
}