/* body {
  color: #212121;
} */

a {
  text-decoration: none;
  color: inherit;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: auto 20px;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}