/* .App {
  text-align: center;
} */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: auto 20px;
}